.flows.json.backup
[
    {
        "id": "api-config-001",
        "type": "api-config",
        "name": "Default AI Config",
        "provider": "deepseek",
        "model": "deepseek-chat",
        "useDifferentModels": false,
        "planningModel": "",
        "executionModel": "",
        "temperature": 0.1,
        "maxTokens": 2000
    },
    {
        "type": "tab",
        "label": "新流程",
        "id": "34ab4d95e517fb00"
    },
    {
        "id": "inject-node",
        "type": "inject",
        "z": "34ab4d95e517fb00",
        "name": "定时触发",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "function-node"
            ]
        ]
    },
    {
        "id": "function-node",
        "type": "function",
        "z": "34ab4d95e517fb00",
        "name": "添加问候语",
        "func": "msg.greeting = \"你好，Node-RED！\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "debug-node"
            ]
        ]
    },
    {
        "id": "debug-node",
        "type": "debug",
        "z": "34ab4d95e517fb00",
        "name": "输出调试信息",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    }
]