flows.json
[
    {
        "id": "workspace-001",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "api-config-001",
        "type": "api-config",
        "name": "Default AI Config",
        "provider": "deepseek",
        "model": "deepseek-chat",
        "useDifferentModels": false,
        "planningModel": "",
        "executionModel": "",
        "temperature": 0.1,
        "maxTokens": 2000
    },
    {
        "id": "0d029120c2a5184c",
        "type": "make-iot-smart",
        "z": "workspace-001",
        "d": true,
        "name": "AI助手",
        "apiConfig": "api-config-001",
        "algorithm": "dagre_lr",
        "settings": {}
    },
    {
        "id": "bd1b195657d18eb1",
        "type": "inject",
        "z": "workspace-001",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "type": "tab",
        "label": "新流程",
        "id": "85e5a220ae2fb90a"
    },
    {
        "id": "flow-1754348598316-9ed2ohsqc",
        "type": "inject",
        "z": "85e5a220ae2fb90a",
        "name": "触发流程",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "flow-1754348598316-3kdc42dt1"
            ]
        ]
    },
    {
        "id": "flow-1754348598316-3kdc42dt1",
        "type": "function",
        "z": "85e5a220ae2fb90a",
        "name": "格式化时间",
        "func": "// 将时间戳转换为易读的格式\nmsg.payload = new Date(msg.payload).toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "flow-1754348598316-i2x1fpahd"
            ]
        ]
    },
    {
        "id": "flow-1754348598316-i2x1fpahd",
        "type": "debug",
        "z": "85e5a220ae2fb90a",
        "name": "显示结果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "type": "tab",
        "label": "新流程",
        "id": "2d273a5e4318abc3"
    },
    {
        "id": "flow-1754348618917-ca71jr3po",
        "type": "inject",
        "z": "2d273a5e4318abc3",
        "name": "触发流程",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "flow-1754348618917-fl1qjgspe"
            ]
        ]
    },
    {
        "id": "flow-1754348618917-fl1qjgspe",
        "type": "function",
        "z": "2d273a5e4318abc3",
        "name": "格式化时间",
        "func": "// 将时间戳转换为易读的格式\nmsg.payload = new Date(msg.payload).toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "flow-1754348618917-o8dmwbokz"
            ]
        ]
    },
    {
        "id": "flow-1754348618917-o8dmwbokz",
        "type": "debug",
        "z": "2d273a5e4318abc3",
        "name": "显示结果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "type": "tab",
        "label": "新流程",
        "id": "fa72e44547fdb871"
    },
    {
        "id": "flow-1754348647455-7j4te76lf",
        "type": "inject",
        "z": "fa72e44547fdb871",
        "name": "触发流程",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "flow-1754348647455-tytvzfhwj"
            ]
        ]
    },
    {
        "id": "flow-1754348647455-tytvzfhwj",
        "type": "function",
        "z": "fa72e44547fdb871",
        "name": "格式化时间",
        "func": "// 将时间戳转换为易读的格式\nmsg.payload = new Date(msg.payload).toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "flow-1754348647455-9qw31ca2s"
            ]
        ]
    },
    {
        "id": "flow-1754348647455-9qw31ca2s",
        "type": "debug",
        "z": "fa72e44547fdb871",
        "name": "显示结果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    }
]